/*  Resets  */
html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: #243443;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.navigation {
    color: white;
    height: 50px;
}

.navigation ul {
    margin-top: 0;
    list-style: none;
    padding: 0;
    text-align: right;
    height: 50px;
}

.navigation li {
    display: inline-block;
    padding: 0 30px;
    line-height: 50px;
    font-size: 16px;
    font-weight: 200;
}

.capa {
    color: white;
}

.capa span {
    color: #E35A17;
}

.capa div {
    display: inline-block;
    height: 650px;
}

.profile-pic {
    width: 40%;
    text-align: right;
}

.profile-pic img {
    width: 300px;
    border-radius: 300px;
    margin-top: 130px;
    margin-right: 50px;
}

.profile-title {
    vertical-align: top;
    width: 59%;
}

.profile-title h1 {
    text-transform: uppercase;
    font-size: 54px;
    margin-top: 220px;
    font-weight: 400;
    line-height: 54px;
}

.profile-title h2 {
    font-size: 16px;
    font-weight: 200;
    margin-top: -30px;
}

/*   Curriculo   */

.main h1 {
    color: white;
    font-weight: normal;
}

.main h2 {
    color: white;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: normal;
}

.main h3 {
    font-size: 12px;
    color: #E35A17;
    text-transform: uppercase;
}

.main p {
    font-size: 18px;
    font-weight: 200;
    line-height: 28px;
}

.caminho {
    
}